.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-primary {
  color: var(--clr-grey-3);
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.heading-primary span {
  color: var(--clr-primary-5);
  font-size: 3.5rem;
  font-weight: bold;
  margin-right: 1.5rem;
}

.content {
  position: relative;
  overflow: hidden;
}
